 html,
 body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
 }
 
 ul {
     margin: 0;
     padding: 0;
 }
 
#mailreport-main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    padding: 10px 20px;
 }
 
#mailreport-main > h2 {
     width: 100%;
     text-align: center;
}
 
div.button {
     margin-top: 30px;
}
 
div.button span {
  color: #0078d7;
}

div.button:hover span,
div.button:focus span {
  color: #005a9e;
  cursor: pointer;
}

textarea {
    resize: none;
    width: 100%;
}