 .hide {
  display: none !important;
 }

 .view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .view > p {
  margin-top: 0;
 }

 body {
  margin: 0 8px 0 0;
 }

 button {
  width: 100%;
  margin-top: 10px !important;
 }
 
textarea {
  box-sizing: border-box;
  resize: none;
  width: 100%;
}

 #spinner {
  border: 0.4rem solid lightgrey;
  border-top: 0.4rem solid dimgrey;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
  margin-bottom: .3rem;
}

/* Fix dialog formatting in Outlook Desktop */
#mailreport-simulation-ack {
  margin-left: 1rem;
  margin-right: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
