.hide {
  display: none !important;
}

div.centered {
  margin-left: auto;
  margin-right: auto;
}

p.centered, span.centered {
  text-align: center;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view > p {
  margin-top: 0;
}

button {
  width: 100%;
  margin-top: 10px !important;
}
 
textarea {
  box-sizing: border-box;
  resize: none;
}

code {
  background-color: lightgrey;
}

body {
  margin: 0 8px 0 0;
}

body.macos-dark {
  background-color: #1e1e1e;
}

body.macos-light {
  background-color: #f1f1f0;
}

/* Fix dialog formatting in Outlook Desktop */
body.mailreport-dialog {
  margin: 0 1rem 1rem 1rem;
}

 #spinner {
  border: 0.4rem solid lightgrey;
  border-top: 0.4rem solid dimgrey;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
  margin-bottom: .3rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.mailreport-close-pointer {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}
